*,
::before,
::after {
  padding: 0px;
  margin: 0px;
  background-color: hsl(240, 17%, 91%);
  box-sizing: border-box;
  text-decoration: none;
}
#bc {
  border-color: rgb(218, 215, 191);
}
#bl-bg {
  background-color: rgba(23, 23, 23, 0.779);
  color: #fff;
}

#color {
  background-color: hsl(240, 17%, 91%);
  color: black;
}

.container-main {
  display: flex;
  width: 100%;
}
.container-menu {
  height: 150px;
  width: 100%;
}

#logo {
  position: relative;
  left: 60px;
  top: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 130px;
}

.container-menu ul {
  list-style: none;
  display: flex;
  float: right;
  margin-right: 100px;
  margin-bottom: 30px;
}

.container-menu ul a {
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.container-gallary {
  display: block;
  margin-top: 10px;
}

.gallary {
  display: grid;
  grid-template-columns: repeat(3, minmax(400px, 1fr));
  gap: 15px;
}
.gallary img {
  width: 100%;
  border-radius: 15px;
}
.container-about {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 250px;
}
.notes {
  font-size: 40px;
  text-align: center;
  display: flex;
}
.container-footer {
  margin-top: 30px;
  text-align: center;
  display: flex;
}
.logo,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.33%;
}
.contact-details {
  margin-top: 80px;
  display: inline-block;
  width: 33.33%;
}

.contact-details ul {
  display: block;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
.contact-details ul li a {
  padding: 10px;
}
.social-media {
  justify-content: center;
  align-items: center;
  display: inline-block;
  width: 33.33%;
}
.social-media h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.social-media a {
  margin-top: 20px;
  color: black;
}

/*CSS FOR About section*/

.container-services,
.ttl,
.services,
p,
h2,
h4 {
  background-color: #000000ac;
  color: white;
}
.services {
  height: 200px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, minmax(400px, 1fr));
  gap: 15px;
  background-color: inherit;
}
.service {
  width: 100%;
}

.container-members {
  text-align: center;
  box-sizing: border-box;
}

.mates {
  display: grid;
  grid-template-columns: repeat(3, minmax(400px, 1fr));
  gap: 15px;
}
.mate img {
  width: 100%;
  border-radius: 15px;
}

/*THE CSS FOR CONTACT PAGES*/
.contact {
  margin-top: 10px;
  display: inline-block;
}
.contact,
.notes {
  justify-content: center;
  align-items: center;
  height: 350px;
  width: 100%;
}

.contact h2,
p {
  display: inline-block;
  padding-top: 30px;
  width: 100%;
  text-align: center;
}

.form-group {
  margin: 40px 65px;
  width: 90%;
}

.contact input,
.contact textarea {
  border: none;
  border-bottom: 1px #333 solid;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  padding-bottom: 1rem;
}

.contact textarea {
  height: 100px;
  border-bottom: 1px solid black;
}

.contact input:focus,
.contact textarea:focus {
  outline: 0;
}

.contact button {
  height: 60px;
  width: 100%;
  margin-bottom: 10px;
}
.btn {
  margin-bottom: 10px;
  padding: 20px;
  border: 1px solid #333;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

.btn:hover {
  background: #333;
  color: #fff;
  margin-bottom: 10px;
}
