* {
  background-color: hsl(240, 20%, 88%);
  box-sizing: border-box;
  text-decoration: none;
}
M .container-main {
  display: flex;
  width: 100%;
}
.container-menu {
  height: 150px;
  width: 100%;
}

#logo {
  margin-top: 30px;
  display: flex;
  float: left;
  padding-left: 30px;
  width: 130px;
}

.container-menu ul {
  list-style: none;
  display: flex;
  float: right;
  padding-right: 250px;
}

.container-menu ul a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.container-gallary {
  display: inline;
  margin-top: 10px;
}

.gallary {
  display: grid;
  grid-template-columns: repeat(3, minmax(400px, 1fr));
  gap: 15px;
}
.gallary img {
  width: 100%;
  border-radius: 15px;
}
.container-about {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 250px;
}
.notes {
  font-size: 50px;
}
